<h2>Feed</h2>

<% @images.order('created_at desc').each do |image| %>
    <div class="feed-post">
        @<%= image.user.username %> shared:
        <%= image_tag image.image %>
        <p>
            <%= image.title %>.jpeg
            
            <% if current_user and current_user.id == image.user_id %>
                <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </p>
    </div>

<% end %>
